* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "OpenSans", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

div#main {
	background: #0077b5;
	height: 100%;
}

/****************** header ******************/
div#main header {
	height: 7.5%;
}
.navbar-default {
	background-color: transparent !important;
	border-color: transparent;
	background-image: none;
	box-shadow: none;
}
.navbar, .navbar-defualt, .navbar-header {
	padding: 0px !important;
	margin: 0px !important;
}

div#main header #navbar-header {
	border: none;
}

div#main ul#nav-menu {
	height: 100%;
	line-height: 100%;
}

div#main ul#nav-menu li {
	
}
/******************* Main content *******************/
div#main-content {
	background: #f4f5f6;
	background: linear-gradient(to right, #f4f5f6, #fff	10%, #fff 100%, #fff 100%);
	height: 92.5%;
}
/******************* Sidebar *******************/
div#main-content aside {
	background: #f4f5f6;
	height: 100%;
	overflow: hidden;
}

div#main-content aside div {
	overflow-y: visible;
}

div#main-content aside div ul {
	list-style: none;
	margin: 0;
}

div#main-content aside div ul li {
	padding: 10px 0px 15px;
}
/******************* Content *******************/
div#main-content div#post {
	background: red;
/* 	height: 100%; */
}
div#main-content div#post div#post-area{
	background:white;
	margin-top: 2%;
	width: 100%;
	height:90%;
}